.radio-station {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
}

.web-name{
    display: grid;
    place-items: center;
}

.station-info {
    padding: 20px;
    margin-bottom: 20px;
}

.station-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.station-info p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.station-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.station-button {
    margin: 8px;
    width: 120px;
    height: 45px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    border-radius: 22px;
    cursor: pointer;
}

.station-button:hover {
    background-color: #848484;  
}